body {
    background-color:#e1e1e1;

}
*{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
a{
    text-decoration:none;
    color:#2a595c;

}
a:hover{
    color:#329096;

}
.butonGorsel{
    background-color:#2a595c;
    width:100px;
    color:#fff;
}
.dropdownlistgorsel{
    height:25px;
    width:auto;
    border:1px dotted #669999;
}
.butonGorsel:hover{
    background-color:rgba(42, 89, 92, 0.79);

}
.textboxGorsel{
    width:150px;
    height:25px;
    border:1px dotted #2a595c;
}
.kutu{
    width:1000px;
    height:1000px;
    margin:0 auto;

}
.kutu .slider{
    width:1000px;
    height:100px;
    float:left;
    background-color:#2a595c;
}

.kutu .govde{
    width:1000px;
    height:auto;
    float:left;
    margin-top:20px;

}
.kutu .govde .govdesol{
    width:270px;
    height:auto;
    float:left;

}
.kutu .govde .govdesol .govdesolbaslik{
    width:100%;
    height:30px;
    float:left;
    background-color:#2a595c;
    border:1px dotted #2a595c;
    line-height:30px;
    color:#fff;
    text-align:center;
}
.kutu .govde .govdesol .govdesolicerik{
    width:100%;
    float:left;
    height:auto;
    border:1px dotted #2a595c;
}
.kutu .govde .govdesag{
    width:700px;
    height:auto;
    float:right;
    border:1px dotted #2a595c;

}
.kutu .alt {
    width:100%;
    height:40px;
    float:left;
    background-color:#2a595c;
    margin-top:20px;
}
