body {
    background-color:#00ffff;
}

header .logo{
    position:absolute;
    top:25px;
}
header nav{
    position:absolute;
    top:110px;
    font-weight:bold;
    font-size:13px;
    margin-left:105px;
    width:960px;
}
header nav a{
    color:#000;
    text-decoration:none;
}
