body {
    background:#333;
    
}
*{
    margin:0;
    padding:0;
    border:0;
}
.panel{
    height:600px;
    width:940px;
    margin:auto;
}
.header{
    line-height:80px;
    height:80px;
    width:940px;
    margin:auto;
    background:#0094ff;
    margin-bottom:15px;
    text-align:center;
    font-family:'Trajan Pro';
    font-size:35px;
    color:#fff;
}
.sol{
    height:200px;
    width:250px;
    float:left;
    margin-right:15px;
    background:#0094ff;
    
}
.solmenu {
    margin-bottom:2px;
    height:25px;
    width:250px;
    background:#0f3753;
    text-align:center;
    font-family:'Trajan Pro';
    font-size:18px;
    cursor:pointer;
}
.sol a{
    
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}
.sol a:hover{
    text-decoration:underline;
}
.sag{
    height:400px;
    width:675px;
    float:left;
    background:#777;

}
.sagust{
    height:25px;
    width:675px;
    background:#0f3753;
    font-family:'Trajan Pro';
    font-size:18px; 
    color:white;
}
.sagalt{
    margin-top:20px;
    height:25px;
    width:675px;
    background:#0f3753;
    font-family:'Trajan Pro';
    font-size:18px; 
    color:white;
}

.paneller{
    background:#b66e37;
    width:675px;
}
