@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<h1>Instagram Galeri</h1>
<div class="instagrams">
</div>


<script>
    $instagrams = $('.instagrams');
    $.ajax({
        type: "GET",
        url: "https://api.instagram.com/v1/users/1418297331/media/recent/?access_token=1418297331.1677ed0.269e1123bef94b7d959ba8f20d86df81",
        dataType: "jsonp",
        success: function (json) {
            $(json.data).each(function (e) {
                $instagrams.append(
                    
                '<div class="instagram">' +
                '<div class="user">' +
                '<img src="' + this.user.profile_picture + '" />' +
                '<h1>' + this.user.full_name + '</h1>' +
                '</div>' +
                '<img src="' + this.images.low_resolution.url + '" />' +
                '</div>'
                );
            });
        }
    });
</script>
