@{
    ViewBag.Title = "Yeni Kullanıcı";
}

<h2>Yeni Kullanıcı</h2>
<br/><br/>
<form action="/FormExample1/Create" method="post">
    <label>Ad</label>
    <br/>
    <input type="text" name="UserName"/>
    <br />
    <br />
    <label>Soyad</label>
    <br />
    <input type="text" name="UserSurName"/>
    <br />
    <br />
    <label>Şehir</label>
    <br />
    <br />
    <input type="text" name="City" />
    <br />
    <br />
    <input type="submit" value="Kaydet" />


</form>