<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="ilk web sitesi denemem" />
    <meta name="keywords" content="ilk,web,sitem" />

    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

</head>
<body>
   
            @RenderBody()
       
</body>
</html>
