<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="ilk web sitesi denemem" />
    <meta name="keywords" content="ilk,web,sitem" />

    <title>@ViewBag.Title</title>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<body>
    
        
            @RenderBody()
        
</body>
</html>
