@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ana Sayfa</h1>
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

    <div class="instagrams">
    </div>




<script>
    $instagrams = $('.instagrams');
    $.ajax({
        type: "GET",
        url: "https://api.instagram.com/v1/users/1418297331/media/recent/?access_token=1418297331.1677ed0.fd2c45039d71400bb085fabb5bb07111",
        dataType: "jsonp",
        success: function (json) {
            $(json.data).each(function (e) {
                $instagrams.append(

                '<div class="instagram">' +
                '<div class="user">' +
                '<img src="' + this.user.profile_picture + '" />' +
                '<h1>' + 2*15 + '$ US Dollar</h1>' +
                '</div>' +
                '<img src="' + this.images.low_resolution.url + '" />' +
                '</div>'
                );
            });
        }
    });
</script>